@charset "UTF-8";
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (max-width: 1199px) {
  .container .title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .container .title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
  }
}

.logo {
  font-family: "Raleway";
  color: #2196f3;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo__text {
  color: #212121;
}
.logo__text--inverse {
  color: #ffffff;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .footer__logo {
    text-align: center;
  }
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.button:hover, .button:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer__button {
  gap: 10px;
}

.backdrop__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.backdrop__button:hover, .backdrop__button:focus {
  fill: #2196f3;
}

/* соц-сети-команды */
.networks__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.networks__item {
  margin-right: 10px;
}
.networks__item:last-child {
  margin-right: 0;
}

.networks__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.networks__icon:hover, .networks__icon:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  color: #212121;
}
body h1,
body h2,
body h3,
body h4,
body ul,
body p {
  margin: 0;
  padding: 0;
  list-style: none;
}
body a {
  color: inherit;
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
}
@media screen and (min-width: 768px) {
  .header__nav {
    height: 80px;
  }
}

.menu__button {
  margin-left: auto;
  padding: 0;
  z-index: 980;
  border: none;
  background-color: transparent;
  cursor: pointer;
  line-height: 0;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__button .menu__icon-cross {
  display: none;
}
.menu__button.is-open .menu__icon-cross {
  display: block;
}
.menu__button.is-open .menu__icon-burger {
  display: none;
}
.menu__button:hover, .menu__button:focus {
  fill: #2196f3;
}
.menu__button.is-open:hover, .menu__button.is-open:focus {
  fill: #2196f3;
}
@media screen and (min-width: 768px) {
  .menu__button {
    display: none;
  }
}

.menu__container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 970;
  padding: 48px 0 48px 40px;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 768px) {
  .menu__container {
    width: 100%;
    height: 100%;
    display: none;
  }
  .menu__container.is-open {
    display: block;
  }
}

.navigation__item {
  margin-bottom: 32px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.navigation__item:last-child {
  margin-bottom: 306px;
}
.navigation__item:hover, .navigation__item:focus {
  color: #2196f3;
}

.navigation__link--current {
  color: #2196f3;
}

.contacts__item {
  margin-bottom: 32px;
}
.contacts__item:last-child {
  margin-bottom: 62px;
}

.contacts__link-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2196f3;
}
@media screen and (max-width: 410px) {
  .contacts__link-tel {
    font-size: 24px;
  }
}

.contacts__link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link-mail:hover, .contacts__link-mail:focus {
  color: #2196f3;
}

.instalink__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.instalink__item {
  position: relative;
  margin-right: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.instalink__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 410px) {
  .instalink__item {
    font-size: 10px;
    margin-right: 10px;
  }
  .instalink__item:last-child {
    margin-right: 0;
  }
}

.instalink__link-instagram::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 94px;
  height: 100%;
  width: 1px;
  border-inline: 1px solid rgba(33, 33, 33, 0.2);
}
@media screen and (max-width: 410px) {
  .instalink__link-instagram::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 51px;
    height: 100%;
    width: 1px;
    border-inline: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.instalink__link-twitter::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 68px;
  height: 100%;
  border-inline: 1px solid rgba(33, 33, 33, 0.2);
}
@media screen and (max-width: 410px) {
  .instalink__link-twitter::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 37px;
    height: 100%;
    width: 1px;
    border-inline: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.instalink__link-facebook::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 91px;
  height: 100%;
  border-inline: 1px solid rgba(33, 33, 33, 0.2);
}
@media screen and (max-width: 410px) {
  .instalink__link-facebook::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 49px;
    height: 100%;
    width: 1px;
    border-inline: 1px solid rgba(33, 33, 33, 0.2);
  }
}

@media screen and (max-width: 767px) {
  .site-nav__list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .site-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
    margin-left: 88px;
  }
}

.link {
  padding: 33px 0;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* нижнее подчеркивание */
}
.link:hover, .link:focus {
  color: #2196f3;
  fill: #2196f3;
}
.link--current {
  position: relative;
  color: #2196f3;
}
.link--current::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

@media screen and (max-width: 767px) {
  .auth-nav__list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .auth-nav__list {
    display: block;
    margin-left: auto;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}

@media screen and (max-width: 1199px) {
  .auth-nav__item {
    margin-bottom: 10px;
  }
  .auth-nav__item:last-child {
    margin-bottom: 0;
  }
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  fill: #757575;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199px) {
  .header__link {
    padding: 0;
  }
}

.hero {
  max-width: 1600px;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-480.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-480.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-960.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-960.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-768.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-768.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-1536.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-1536.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-1600.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-1600.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-3200.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-3200.jpg);
  }
}
.hero__main {
  max-width: 696px;
}
@media screen and (max-width: 767px) {
  .hero__main {
    padding: 118px 0;
    height: 400px;
  }
}
@media screen and (min-width: 768px) {
  .hero__main {
    padding: 118px 100px;
    height: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__main {
    padding: 200px 0;
    height: 600px;
  }
}

.hero__title-heading {
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .hero__title-heading {
    font-size: 26px;
    line-height: 1.6;
  }
}

.section-description {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section-description {
    padding: 94px 0;
  }
}

@media screen and (min-width: 768px) {
  .description-card__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .description-card__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .description-card__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .description-card__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .description-card__item {
    width: 270px;
    margin: 0;
  }
}

.description-card__icon {
  padding: 25px 0;
  text-align: center;
  height: 120px;
  margin-bottom: 30px;
  background: rgb(245, 244, 250);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .description-card__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
}

.description-card__subtitle {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .description-card__subtitle {
    text-align: start;
  }
}

.description-card__text {
  color: #757575;
}

.section-works {
  padding: 0 0 94px;
}
@media screen and (max-width: 1199px) {
  .section-works {
    display: none;
  }
}

.works-foto__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.works-foto__item {
  position: relative;
}

.works-foto__img {
  display: block;
}

.works-foto__position {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 27px 0;
  background: rgba(47, 48, 58, 0.8);
}

@media screen and (min-width: 1200px) {
  .works-foto__subtitle {
    color: #ffffff;
    text-align: center;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
  }
}

/* наша команда */
.section-command {
  background-color: rgb(245, 244, 250);
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section-command {
    padding: 94px 0;
  }
}

/* карточки команды */
@media screen and (min-width: 768px) {
  .command-card__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .command-card__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.faces {
  display: block;
  max-width: 100%;
  height: auto;
}

.command-card__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
@media screen and (max-width: 767px) {
  .command-card__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .command-card__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .command-card__item {
    width: 270px;
  }
}

@media screen and (max-width: 1199px) {
  .command-card__meta {
    padding: 30px 0 24px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .command-card__meta {
    padding: 30px 0;
    text-align: center;
  }
}

/* имена коллег */
.command-card__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

/* работа коллег */
.command-card__price {
  margin-bottom: 16px;
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
}

/* постоянные клиенты */
.section-clients {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section-clients {
    padding: 94px 0;
  }
}

.clients-card__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}
@media screen and (min-width: 1200px) {
  .clients-card__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
  }
}

.clients-card__item {
  width: calc((100% - 60px) / 2);
  margin: 15px;
}
@media screen and (min-width: 768px) {
  .clients-card__item {
    width: calc((100% - 90px) / 3);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-card__item {
    width: 170px;
    margin: 0;
  }
}

.clients-card__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-card__icon:hover, .clients-card__icon:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

/* футер */
.footer {
  background-color: rgb(47, 48, 58);
  padding: 60px 0;
}

@media screen and (min-width: 768px) {
  .footer__page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer__page {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 1199px) {
  .column-address {
    text-align: center;
    margin-bottom: 60px;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__location {
  color: #ffffff;
  font-style: normal;
}

.address__contacts {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}
.address__contacts:hover, .address__contacts:focus {
  color: #2196f3;
}

/* присоединяйтесь */
@media screen and (max-width: 1199px) {
  .column-join {
    margin-bottom: 60px;
    text-align: center;
  }
}

.join__title {
  margin-bottom: 20px;
  color: #ffffff;
  text-transform: uppercase;
}

.footer__icon {
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

/* подпишись на рассылку */
@media screen and (max-width: 1200px) {
  .column-subscribe {
    text-align: center;
  }
}

.subscribe__title {
  margin-bottom: 20px;
  color: #ffffff;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .form-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.form-footer__input {
  width: 100%;
  margin-bottom: 20px;
  padding: 16px 15px;
  color: #ffffff;
  font-size: 16px;
  background-color: rgb(47, 48, 58);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-footer__input:hover, .form-footer__input:focus {
  border: 1px solid #2196f3;
  outline: none;
}
@media screen and (min-width: 768px) {
  .form-footer__input {
    width: 450px;
    height: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .form-footer__input {
    width: 358px;
    height: 50px;
    margin-right: 12px;
  }
}

.footer__button {
  gap: 10px;
}

/* бекдроп */
.backdrop {
  position: fixed;
  top: 0%;
  left: 0%;
  padding: 93px 15px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 990;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
  overflow-x: scroll;
}

/* утилита */
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
  opacity: 0;
}

/* модальное окно */
.modal {
  position: relative;
  width: 100%;
  height: 100vm;
  padding: 40px;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 481px) {
  .modal {
    width: 450px;
    height: auto;
    position: absolute;
    top: 60px;
    left: 50%;
    -webkit-transform: translate(-50%) scale(1);
            transform: translate(-50%) scale(1);
  }
}
@media screen and (min-width: 1201px) {
  .modal {
    width: 528px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

/* форма */
.form-modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.label-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}

.label-group__input {
  height: 40px;
  margin-top: 4px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.label-group__input:hover, .label-group__input:focus {
  border: 1px solid #2196f3;
}
.label-group__input:hover + .label-group__icon, .label-group__input:focus + .label-group__icon {
  fill: #2196f3;
}

.label-group__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-group__comment {
  margin-bottom: 20px;
}

textarea {
  margin-top: 4px;
  padding: 12px 16px;
  height: 120px;
  resize: none;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
textarea:hover, textarea:focus {
  border: 1px solid #2196f3;
}
textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

/* чекбокс */
.options {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
@media screen and (max-width: 1199px) {
  .options {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0;
  }
}

.options__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.options__checkbox:checked + .options__icon {
  background-color: #2196f3;
  border: none;
}
.options__checkbox:focus + .options__icon, .options__checkbox:hover + .options__icon {
  border-color: #2196f3;
}

.agreement {
  margin-left: 4px;
  color: #2196f3;
  text-decoration: underline;
}

.options__icon {
  margin-right: 6px;
  border: 2px solid #212121;
  border-radius: 2px;
  /* background-origin: border-box; */
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */