/* наша команда */
.section-command {
  background-color: $secondry-background-color;
  padding: 60px 0;

  @media screen and (min-width: $desktop) {
    padding: 94px 0;
  }
}

/* карточки команды */
.command-card__list {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: $desktop) {
    align-items: center;
    justify-content: space-between;
  }
}
.faces {
  display: block;
  max-width: 100%;
  height: auto;
}

.command-card__item {
  box-shadow: $command-card__item-box-shadow;
  border-radius: 0px 0px 4px 4px;
  background-color: $primary-background-color;

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: $tablet) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: $desktop) {
    width: 270px;
  }
}

.command-card__meta {
  @media screen and (max-width: 1199px) {
    @include paddings(30px 0 24px);
    text-align: center;
  }
  @media screen and (min-width: $desktop) {
    @include paddings(30px 0);
    text-align: center;
  }
}
/* имена коллег */
.command-card__name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

/* работа коллег */
.command-card__price {
  margin-bottom: 16px;

  color: $title-text-color;
  font-size: 16px;
  line-height: 1.19;
}
