/* чекбокс */
.options {
  position: relative;

  display: flex;
  align-items: center;
  margin-bottom: 30px;

  @media screen and(max-width:1199px) {
    font-weight: 400;
    font-size: 12px;
    // line-height: 1.2;
    letter-spacing: 0;
  }
}

.options__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute;

  &:checked + .options__icon {
    background-color: $accent-color;
    border: none;
  }
  &:focus + .options__icon,
  &:hover + .options__icon {
    border-color: $accent-color;
  }
}
.agreement {
  margin-left: 4px;
  color: $accent-color;
  text-decoration: underline;
}

.options__icon {
  margin-right: 6px;

  border: 2px solid $primary-text-colot;
  border-radius: 2px;
  /* background-origin: border-box; */

  transition: background-color $transition-time $timing-functions,
    border-color $transition-time $timing-functions;

  cursor: pointer;
}
