/* чекбокс */
.options {
  position: relative;
  @include centeredFlex;
  white-space: nowrap;
  // @include centeredFlex;
  margin-bottom: 30px;

  @media screen and(max-width:1199px) {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
  }
}

.options__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute;

  &:checked + .options__icon {
    background-color: $accent-color;
    border: none;
  }
  &:focus + .options__icon,
  &:hover + .options__icon {
    border-color: $accent-color;
  }
}

.options__icon {
  margin-right: 8px;

  border: 2px solid $primary-text-colot;
  border-radius: 2px;
  /* background-origin: border-box; */

  transition: background-color $transition-time $timing-functions,
    border-color $transition-time $timing-functions;

  cursor: pointer;
}

.agreement {
  margin-left: 4px;
  color: $accent-color;
  text-decoration: underline;
}
