/* модальное окно */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  padding: 40px;

  transform: translate(-50%, -50%) scale(1);
  opacity: 1;

  transition: transform $transition-time $timing-functions,
    opacity $transition-time $timing-functions;

  background-color: $primary-white-color;
  box-shadow: $modal-box-shadow;
  border-radius: 4px;
}
