.card-set__list {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and(min-width:$desktop) {
    gap: $gap30;
    margin: 0;
  }
}
.card-set__item {
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: $tablet) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: $desktop) {
    width: 370px;
    margin: 0;
  }
}

.product {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  transition: box-shadow $transition-time $timing-functions;
  &:hover,
  &:focus {
    box-shadow: $card-set__product-box-shadow;
  }
  color: $title-text-color;
  cursor: pointer;
}
/* анимация  */
.product__active {
  position: relative;

  overflow: hidden;
}
.product__foto {
  display: block;
  max-width: 100%;
  height: auto;
}

.product__overlay {
  position: absolute;
  top: 0;
  left: 0;

  @include widthHeigh(100%, 100%);
  background-color: $overlay-background-color;

  transform: translateY(100%);

  transition: transform $transition-time $timing-functions;
}

/* анимация */
.product:hover .product__overlay,
.product:focus .product__overlay {
  transform: translateY(0);
}

.product__actions {
  @media screen and (min-width: $mobile) {
    position: absolute;
    width: 402px;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }
  @media screen and (min-width: $tablet) {
    position: absolute;
    width: 306px;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }
  @media screen and (min-width: $desktop) {
    position: absolute;
    width: 322px;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }
}

.product__text {
  @media screen and (max-width: 450px) {
    font-size: 16px;
    padding: 15px;
  }
  font-size: 18px;
  line-height: 1.5;
  color: $primary-white-color;
}

.product__meta {
  flex-grow: 1;
  @include paddings(20px 24px);
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.product__name {
  margin-bottom: 4px;

  color: $primary-text-colot;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.product__price {
  font-size: 16px;
  line-height: 1.9;
}
