/* подпишись на рассылку */
.column-subscribe {
  @media screen and (max-width: $desktop) {
    text-align: center;
  }
}
.subscribe__title {
  margin-bottom: 20px;

  color: $primary-white-color;
  text-transform: uppercase;
}

.form-footer {
  @media screen and(min-width:$desktop) {
    display: flex;
  }
}

.form-footer__input {
  width: 100%;
  margin-bottom: 20px;
  @include paddings(16px 15px);

  color: $primary-white-color;
  font-size: 16px;

  background-color: $input-background-color;
  border: 1px solid $footer-input-border;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  transition: border $transition-time $timing-functions;

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
    outline: none;
  }

  @media screen and(min-width:$tablet) {
    @include widthHeigh(450px, 50px);
  }
  @media screen and(min-width:$desktop) {
    @include widthHeigh(358px, 50px);
    margin-right: 12px;
  }
}

.footer__button {
  gap: $gap10;
}
