.site-nav__list {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    gap: $gap50;
    margin-left: 88px;
  }
}

.link {
  padding: 33px 0;
  @include linkSize;

  transition: color $transition-time $timing-functions;

  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
  &--current {
    position: relative;
    color: $accent-color;
  }
  /* нижнее подчеркивание */
  &--current::after {
    content: '';

    position: absolute;
    display: block;
    left: 0;
    bottom: 0;

    @include widthHeigh(100%, 4px);

    background-color: $accent-color;
    border-radius: 2px;
  }
}
