$fontFamilyMain: Roboto, sans-serif;
$fontFamilyLogo: 'Raleway';

$primary-text-colot: #212121;
$primary-white-color: #ffffff;
$title-text-color: #757575;
$accent-color: #2196f3;
$primary-fill-colot: #afb1b8;
$primary-background-color: #ffffff;
$secondry-background-color: rgba(245, 244, 250, 1);
$header-border: #ececec;

$footer-background-color: rgba(47, 48, 58, 1);
$footer-input-border: rgba(255, 255, 255, 0.3);
$footer__icon-background-color: rgba(255, 255, 255, 0.1);
$address-contacts: rgba(255, 255, 255, 0.6);

$overlay-background-color: rgba(33, 150, 243, 0.9);
$works-foto__position: rgba(47, 48, 58, 0.8);
$backdrop-background-color: rgba(0, 0, 0, 0.2);
$textarea-placeholder: rgba(117, 117, 117, 0.5);
$form-input-border: rgba(33, 33, 33, 0.2);
$input-background-color: rgba(47, 48, 58, 1);

$command-card__item-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
$modal-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
$portfolio-button__button-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
$card-set__product-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);

$button-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$button-border: rgba(0, 0, 0, 0.2);

$transition-time: 250ms;
$timing-functions: cubic-bezier(0.4, 0, 0.2, 1);

$gap8: 8px;
$gap10: 10px;
$gap30: 30px;
$gap50: 50px;
