.logo {
  @include fontFamilyLogo;
}
.logo__text {
  color: $primary-text-colot;

  &--inverse {
    color: $primary-white-color;
  }
}
.footer__logo {
  display: inline-block;
  margin-bottom: 20px;

  @media screen and(max-width:1199px) {
    text-align: center;
  }
}
